/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: inherit; /* Garde la couleur normale du texte */
}

nav .logo {
    height: 25px; /* Ajuste la hauteur selon ta maquette */
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.portfolio-header {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	gap: 29px;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


#category-menu{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.filterButton {
    font-family: 'Syne';
    font-size: 700;
    color: #1D6154;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 60px;
    min-width: 100px;
    cursor: pointer;
    background-color: transparent; /* Assure un fond normal par défaut */
    border: 2px solid #1D6154; /* Ajoute une bordure pour mieux voir */
}

/* Effet au survol */
.filterButton:hover {
    color: white;
    background-color: #1D6154;
}

/* Bouton actif (cliqué) */
.filterButtonActive {
    color: white;
    background-color: #1D6154;
}



/**login form*/
/* Champs de formulaire */
input {
    width: 100%;
    height: 40px;
    padding: 12px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
	box-shadow: 0px 2px 5px rgba(12, 8, 8, 0.1); /* Ombre légère */
    transition: box-shadow 0.3s ease-in-out;
}

#login{
    width: 100%;
    display: flex;
    flex-direction: column;
	align-items: center;
	gap: 55px;
	margin: 99px 0;
}

#login-form{
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
}

#login-form label {
    font-weight: 500;  /* Met en gras */
    font-size: 16px;  /* Taille du texte */
    
}



/* Bouton de connexion */
#login-form button {
    width: 50%;
    padding: 15px;
    background-color: #1f5644;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 21px;
    cursor: pointer;
    display: block;
    margin: 21px auto 0;
}

#login-form button:hover {
    background-color: #174437;
}

/* Lien mot de passe oublié */
.forgot-password {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: black;
    text-decoration: underline;
    font-size: 17px;
}


.forgot-password:hover {
    text-decoration: underline;
}

.login-page {
    background-color: #f8f6f1;
}


/* MODAL */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal.hidden {
	display: none;
}

/* CONTENU DE LA MODALE */
.modal-content {
	width: 35%;
	background-color: white;
	border-radius: 10px;
	padding: 45px 100px;
	position: relative;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

/* BOUTON FERMER */
.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 28px;
	cursor: pointer;
}

/* TITRES */
.modal-content h3 {
	text-align: center;
	font-size: 26px;
	margin-bottom: 60px;
}

/* GALERIE GRID */
.gallery-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin-bottom: 90px;
}

.gallery-grid figure {
	position: relative;
}

.gallery-grid img {
	width: 100%;
	border-radius: 2px;
}

/* ICONE SUPPRIMER SUR IMAGE */
.gallery-grid .delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: black;
	color: white;
	border-radius: 2px;
	padding: 3px;
	font-size: 10px;
	cursor: pointer;
}

/* BOUTON AJOUTER */
#openAddPhoto {
	display: block;
	margin: 0 auto;
	background-color: #1D6154;
	color: white;
	padding: 16px 64px;
	border-radius: 60px;
	border: none;
	font-family: 'Syne';
	font-size: 18px;
	cursor: pointer;
}

/* FORMULAIRE AJOUT */
#addPhotoView h3 {
	margin-bottom: 55px;
}

#photoForm {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#photoForm label {
	font-size: 17px;
}

#photoForm label[for="photoInput"] {
	display: flex;
	justify-content: center;
}

.photo-upload {
	background-color: #e8f1f6;
	border-radius: 5px;
	width: 100%;
	max-width: 420px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 10px;
	overflow: hidden;
  }

  .photo-upload button {
	background-color: #b9c5cc;
	color: #306685;
	padding: 14px 22px;
	border-radius: 60px;
	border: none;
	font-family: 'Syne';
	font-size: 14px;
	cursor: pointer;
  }
  
  .photo-upload .icon {
	font-size: 40px;
	color: #b9c5cc;
  }
  
  .photo-upload p {
	font-size: 12px;
	color: #444;
  }


#photoForm input[type="text"] {
	padding: 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 5px;
	border: none;
}

/* BOUTONS FORM */
#photoForm button[type="submit"] {
	display: block;
	margin: 0 auto;
	background-color: #1D6154;
	color: white;
	padding: 16px 64px;
	border-radius: 60px;
	border: none;
	font-family: 'Syne';
	font-size: 18px;
	cursor: pointer;
}


.hidden {
	display: none !important;
}

#galleryView, #addPhotoView {
	transition: opacity 0.3s ease;
}

hr {
	border: none;
	border-top: 1px solid #B3B3B3;
	margin: 20px 0;
  }
  